html,body{
  padding: 0px;
  margin: 0px;
  background-color: $white;
}

p{
  margin: 0px;
}

div{
  position: relative;
}

img{
  float: left;
  width: 100%;
}

*, ::after, ::before{
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

*{
  outline: 0;
}
